*.dmp
*.hprof
*.iml
*.log
*.log.zip
*.tmp
.DS_Store
.gradle
.idea
.metadata
.settings
/src/main/resources/logback.xml
/storage/backup
/build
/deploy
/target
/dist
/tmp
/var
java_pid*.*
junit*.properties
log
test-output
ivysettings-local.xml
/bin/
.classpath
.project